<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DbStockMedic" connectionString="Data Source=030LAB3-04-1020;Initial Catalog=DataBase;Integrated Security=True;Trust Server Certificate=True"
            providerName="" />
    </connectionStrings>
</configuration>